# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# VS Code
.vscode/

# Continue extension workspace
.continue/

# Runtime output
runtime/audio/*.wav
runtime/logs/

# Runtime user data
speech_data/memory.json
speech_data/notes.json
data/config/config.json

# Windows junk
Thumbs.db
Desktop.ini

# llama
llama/

# models
models/